header {
    margin: 0;
    padding: 0;
    width: 100%;

    height: 250px;
    background-color: #ffffff;
    background-image: url("../img/nebula.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}


/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    font-family: 'Arial';
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    background: transparent;
    float: right;
    clear: right;
    position:absolute;
    bottom:0; right:0;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #0a915d;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

body {
    background: #5e7557;
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(left, #465841, #acbea7, #465841);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(left, #465841, #acbea7, #465841);
    /* For Fx 3.6 to 15 */
    background: -moz-linear-gradient(left, #465841, #acbea7, #465841);
    /* Standard syntax */
    background: linear-gradient(to right, #465841, #acbea7, #465841); 
    width: 1050px;
    margin: 0 auto;
    font-family: 'Arial';
    background-repeat: no-repeat;
} 

#bannertxt {
    font-family: 'Verdana';
    color: #ffffff;
    font-size: 60px;
    position: absolute;
    bottom: 0;
    padding-left: 20px;
    padding-bottom: 10px;
    display: inline-block;
}

#bannerbyline {
    font-family: 'Verdana';
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    padding-left: 220px;
    padding-bottom: 10px;
    bottom: 0;
    display: inline-block;
}

#main {
    padding: 0 15px 0 15px;
    font-family: 'Verdana';
    display: inline-block;
    background-color: #ece5ed;
    width: 97.2%;
    height: 100%;
    overflow: hidden;
    clear: both;
    position: relative;
}

#buttons {
    float: right;
    right: 0;
}

#del {
    font-weight: bold;
    font-family: 'Arial Black';
    -webkit-transition: all .5s;
    -webkit-border-radius: 5px;
    line-height: 20px;
    color: #222222;
    background: #ff3333;
    width: 30px;
    text-align: center;

}

#del:hover {
    background: #e60000;
    color: #222222;
    cursor: pointer;
}

#conf {
    font-family: 'Arial Black';
    font-weight: bold;
    -webkit-transition: all .5s;
    -webkit-border-radius: 5px;
    line-height: 20px;
    color: #222222;
    background: #70db70;
    width: 30px;
    text-align: center;
}

#conf:hover {
    background: #2eb82e;
    color: #222222;
    cursor: pointer;  
}

#feed {
    width: 70%;
    height: 100%;
    margin-left: 20px;
    float: left;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 200px;
    left: 0;
}

#post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

#post-byline {
    margin-top: 0;
    font-size: 10px;
}

#post {
    text-align: justify;
    padding-left: 15px;
    font-size: 15px;
}

#sidebar {
    font-family: 'Verdana';
    margin-top: 15px;
    padding-right: 50px;
    width: 200px;
    height: 900px;
    float: right;
    overflow: hidden;
    display: inline-block;
    font-size: 13px;
}

#expList ul, li {
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
}

#expList li {
    line-height:140%;
    text-indent:0px;
    background-position: 1px 8px;
    padding-left: 20px;
    background-repeat: no-repeat;
}

/* Collapsed state for list element */
#expList .collapsed {
    background-image: url(../img/collapsed.png);
}
/* Expanded state for list element
/* NOTE: This class must be located UNDER the collapsed one */
#expList .expanded {
    background-image: url(../img/expanded.png);
}
#expList {
    clear: both;
}

a:link {
    color: #000;
    text-decoration: none;
}

footer {
    height: 200px;
    width: 100%;
    background-color: #ffffff;
    background-image: url("../img/nebula.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

#info {
    position: absolute;
    color: #ffffff;
    padding-top: 30px;
    padding-left: 30px;
}

#admin {
    font-size: 12px;
    position: absolute;
    color: #ffffff;
    overflow: hidden;
    float: right;
    clear: right;
    bottom: 0; right: 0;
    padding-right: 10px;
}

#admin a {
    text-decoration: none;
    color: #ffffff;
}